**/target/
**/build/
**/.gradle/
**/classes/
**/gradle/
**/project/
**/.sass-cache/
**/.idea/
**/*.iml
**/*.ipr
**/*.iws
**/gradlew
**/gradlew.bat
**/bower_components
**/node_modules
**/rebel.xml
**/src/main/webapp/public/js/lib/**
**/*.xml.bak
